<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>iGurd</title>
	<link href="innerPages/css/bootstrap.min.css" rel="stylesheet">
	<link href="innerPages/css/theme.css" rel="stylesheet">
	<link href="innerPages/css/owl.carousel.min.css" rel="stylesheet">
	<link href="innerPages/css/owl.theme.default.min.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<header class="header-area bg-white sticky-top" id="header-area">
		<div class="container-fluid header-section px-2 px-md-5 d-block">
			<div class="row d-flex align-items-center nav-height">
				<div class="col-6 col-md-5 col-lg-2 p-lg-0">
					<div class="logo">
						<a href="index.html"><img alt="" class="mx-4 mx-md-3" src="images/innerLogo.png"></a>
					</div>
				</div>
				<div class="p-0 d-none d-lg-block col-lg-6">
					<nav class="nav-area">
						<a class="nav-item pl-0" href="#hero-area">Home</a> <a class="nav-item" href="#about-area">About us</a> <a class="nav-item" href="#process-area">How it works</a> <a class="nav-item br-none" href="innerPages/fee-calculator.html">Fee Calculator</a>
					</nav>
				</div>
				<div class="col-6 col-md-6 col-lg-4 d-none d-md-block text-right">
					<div class="user-buttons text-right">
						<a class="signup-btn px-2 px-md-3 py-2" href="innerPages/signup.html">Sign up</a> <a class="login-btn px-3 px-md-4 py-2" href="innerPages/login.html">Login</a>
					</div>
				</div>
				<div class="col-6 col-md-1 d-lg-none text-right">
					<div class="sidenav" id="mySidenav">
						<a class="closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a> <a class="nav-item" href="#hero-area">Home</a> <a class="nav-item" href="#about-area">About us</a> <a class="nav-item" href="#process-area">How it works</a> <a class="nav-item" href="innerPages/fee-calculator.html">Fee Calculator</a> <a class="nav-item d-md-none" href="innerPages/signup.html">Sign up</a> <a class="nav-item d-md-none" href="innerPages/login.html">Login</a>
					</div><span class="d-flex justify-content-end align-items-center" onclick="openNav()" style="font-size:30px;cursor:pointer"><img alt="" class="hamburder-bars mx-4 mx-md-3" src="images/nav-icons/hamburger-bars.png"></span>
				</div>
			</div>
		</div>
	</header>
	<footer class="pt-5 pb-3">
		<div class="container-fluid px-2 px-md-5 pb-5">
			<div class="footer-wrap px-4">
				<div class="row align-items-center">
					<div class="col-sm-6 col-lg-4">
						<a href="index.html"><img alt="" class="white-logo d-block" src="images/white-logo.png"></a>
						<p class="m-0 py-4 text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
					</div>
					<div class="col-6 col-sm-3 col-md-3 col-lg-2 text-lg-center py-2">
						<ul>
							<li>
								<a href="#hero-area">Home</a>
							</li>
							<li>
								<a href="#about-area">About us</a>
							</li>
							<li>
								<a href="#process-area">How it works</a>
							</li>
						</ul>
					</div>
					<div class="col-6 col-sm-3 col-md-3 col-lg-2 text-lg-center py-2">
						<ul>
							<li>
								<a href="innerPages/fee-calculator.html">Fee Calculator</a>
							</li>
							<li>
								<a href="innerPages/toc.html">Terms of Condition</a>
							</li>
							<li>
								<a href="innerPages/privacy.html">Privacy Policy</a>
							</li>
						</ul>
					</div>
					<div class="col-6 col-lg-4 py-3 d-none d-lg-block">
						<div class="payment-partner-icons p-5 pt-3">
						<h5 class="py-2">Payment Partners</h5><img alt="" class="w-100 mx-auto d-block px-3" src="images/payment.png"> <img alt="" class="w-100 mx-auto d-block px-3" src="images/payment.png"> <img alt="" class="w-100 mx-auto d-block px-3" src="images/payment.png"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 pt-2 text-center footer-copyright d-flex justify-content-md-end justify-content-center">
			<p class="m-0 text-white pt-2">© iGurd 2020. All Right Reserved.</p>
		</div>
	</footer>
	<div class="fab-container">
		<div class="fab fab-icon-holder">
			<i class="fas fa-question"></i>
		</div>
		<ul class="fab-options">
			<li>
				<span class="fab-label">Documentation</span>
				<div class="fab-icon-holder">
					<i class="fas fa-file-alt"></i>
				</div>
			</li>
			<li>
				<span class="fab-label">Video Tutorials</span>
				<div class="fab-icon-holder">
					<i class="fas fa-video"></i>
				</div>
			</li>
			<li>
				<span class="fab-label">Live Chat</span>
				<div class="fab-icon-holder">
					<i class="fas fa-comments"></i>
				</div>
			</li>
			<li>
				<span class="fab-label">Feedback</span>
				<div class="fab-icon-holder">
					<i class="fas fa-comment-alt"></i>
				</div>
			</li>
		</ul>
	</div><!-- JS Global Compulsory -->
	<script src="innerPages/js/jquery.min.js" type="text/javascript">
	</script> 
	<script src="innerPages/js/jquery-migrate.min.js" type="text/javascript">
	</script> 
	<script src="innerPages/js/owl.carousel.min.js" type="text/javascript">
	</script> 
	<script src="innerPages/js/bootstrap.bundle.min.js" type="text/javascript">
	</script> 
	<script src="innerPages/js/hs.core.js">
	</script> 
	<script src="innerPages/js/hs-unfold.min.js">
	</script> 
	<script src="innerPages/js/scripts.js" type="text/javascript">
	</script> 
	<script>
	   const visitWebBtn = document.getElementById('index-page')
	   
	   visitWebBtn.addEventListener('click', function(){
	   const preloadArea = document.getElementById('index-preload-banner');
	   preloadArea.style.display = 'none'

	   const indexArea = document.getElementById('index-wrap')
	   indexArea.style.display = 'block'
	 })

	</script>
</body>
</html>