<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>iGurd</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
	<link href="../style.css" rel="stylesheet">
	<style>
	       
	       label.selector, label.amount {
	           margin: 0;
	           text-align: right;
	           width: auto;
	       }
	       label.selector, label.amount {
	           margin: 0;
	           text-align: left;
	           width: 100%;
	           font-size: 20px;
	           font-weight: 500;
	           padding: 10px;
	           display: inline-block;
	           border-radius: 7px;
	       }
	       select#selector, select#secondSelector {
	           background: #002B49;
	           color: #fff;
	       }
	       .selector-area {
	           background: #002B49;
	           border-radius: 7px;
	       }
	       span.down-arrow svg {
	           color: #fff;
	       }
	       input#amount {
	           background: #002B49;
	           color: #fff;
	       }
	       .main-area {
	           background: url('../images/join-as-partner-bg.png');
	           background-repeat: no-repeat;
	           background-position: top;
	           background-size: cover;
	       }
	       .calculation-area button {
	           background: #0073E5;
	           color: #fff;
	           font-weight: 500;
	           padding: 10px;
	           font-size: 18px;
	       }
	       .feeResultSection p {
	           font-size: 18px;
	           font-weight: 500;
	           padding: 10px;
	       }
	       .right-wrap {
	           background: #fff;
	           border-radius: 7px;
	       }
	       .resultDisplay p {
	           font-size: 50px;
	       }
	       .heading h2 {
	           font-size: 35px;
	           letter-spacing: 1px;
	       }
	       .select-option, .price-area {
	           background: transparent;
	       }
	       #resultArea {
	           display: none;
	       }
	</style>
</head>
<body>
	<header class="header-area bg-white sticky-top" id="header-area">
		<div class="container-fluid header-section px-2 px-md-5 d-block">
			<div class="row d-flex align-items-center nav-height">
				<div class="col-6 col-md-5 col-lg-2 p-lg-0">
					<div class="logo">
						<a href="../index.html"><img alt="" class="mx-4 mx-md-3" src="../images/innerLogo.png"></a>
					</div>
				</div>
				<div class="p-0 d-none d-lg-block col-lg-6">
					<nav class="nav-area">
						<a class="nav-item pl-0" href="../index.html#hero-area">Home</a> 
						<a class="nav-item" href="../index.html#about-area">About us</a> 
						<a class="nav-item" href="../index.html#process-area">How it works</a> 
						<a class="nav-item border-right-0" href="fee-calculator.html">Fee Calculator</a>
					</nav>
				</div>
				<div class="col-6 col-md-6 col-lg-4 d-none d-md-block text-right">
					<div class="user-buttons text-right">
						<a class="signup-btn px-2 px-md-3 py-2" href="signup.html">Sign up</a> 
						<a class="login-btn px-3 px-md-4 py-2" href="login.html">Login</a>
					</div>
				</div>
				<div class="col-6 col-md-1 d-lg-none text-right">
					<div class="sidenav" id="mySidenav">
						<a class="closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a> 
						<a class="nav-item" href="../index.html#hero-area">Home</a> 
						<a class="nav-item" href="../index.html#about-area">About us</a> 
						<a class="nav-item" href="../index.html#process-area">How it works</a> 
						<a class="nav-item" href="fee-calculator.html">Fee Calculator</a> 
						<a class="nav-item d-md-none" href="signup.html">Sign up</a> 
						<a class="nav-item d-md-none" href="login.html">Login</a>
					</div><span class="d-flex justify-content-end align-items-center" onclick="openNav()" style="font-size:30px;cursor:pointer"><img alt="" class="hamburder-bars mx-4 mx-md-3" src="../images/nav-icons/hamburger-bars.png"></span>
				</div>
			</div>
		</div>
	</header>
	<main class="main-area py-2 py-md-5">
		<div class="container">
			<div class="heading pt-5 mt-lg-4 pb-2 p-md-4">
				<h2 class="text-center">Fee Calculator</h2>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 left-side p-3">
					<div class="left-wrap">
						<div class="calculation-area p-2 p-md-4">
							<!-- <div class="select-option">
								<label class="selector" for="selector"><span>Are you buying or selling?</span></label>
								<div class="selector-area">
									<select id="selector">
										<option value="false">
											buying
										</option>
										<option value="true">
											selling
										</option>
									</select> <span class="down-arrow"><svg viewbox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
									<title>small down</title>
									<g class="nc-icon-wrapper">
										<polyline fill="none" points="44,26 32,38 20,26" stroke="currentColor" stroke-linecap="square" stroke-linejoin="miter" stroke-miterlimit="10"></polyline>
									</g></svg></span>
								</div>
							</div>
							<div class="select-option">
								<label class="selector secondSelector" for="secondSelector"><span>Is it a product or service?</span></label>
								<div class="selector-area second">
									<select id="secondSelector">
										<option value="false">
											product
										</option>
										<option value="true">
											service
										</option>
									</select> <span class="down-arrow"><svg viewbox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
									<title>small down</title>
									<g class="nc-icon-wrapper">
										<polyline fill="none" points="44,26 32,38 20,26" stroke="currentColor" stroke-linecap="square" stroke-linejoin="miter" stroke-miterlimit="10"></polyline>
									</g></svg></span>
								</div>
							</div> -->
							<div class="price-area">
								<label class="amount" for="amount"><span class="ml-auto">What is your amount?</span></label> <input class="p-2" id="amount" placeholder="0000" type="text">
							</div>
							<div class="select-option">
								<label class="selector" for="selector"><span>What is your payment method?</span></label>
								<div class="selector-area">
									<select id="selector">
										<option value="false">
											bKash
										</option>
										<option value="true">
											Nagad
										</option>
										<option value="true">
											Rocket
										</option>
										<option value="true">
											Surecash
										</option>
										<option value="true">
											Bank Draft
										</option>
									</select> <span class="down-arrow"><svg viewbox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
									<title>small down</title>
									<g class="nc-icon-wrapper">
										<polyline fill="none" points="44,26 32,38 20,26" stroke="currentColor" stroke-linecap="square" stroke-linejoin="miter" stroke-miterlimit="10"></polyline>
									</g></svg></span>
								</div>
							</div><button class="btn mt-4 mt-md-5 w-100 text-white" id="fee-btn">What's my fee?</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 right-side p-3 my-5" id="resultArea">
					<div class="right-wrap">
						<div class="resultArea py-5">
							<div class="feeResultSection px-4">
								<p class="m-0">Your payable fee is:</p>
								<div class="resultDisplay d-flex justify-content-center">
									<p class="m-0" id="displayResult">5000</p>
									<p class="m-0">BDT</p>
								</div>
							</div>
							<!-- <div class="fee-breakdown p-4">
								<div class="heading pb-3">
									<h5>Fee Breakdown</h5>
								</div>
								<div class="feeBreakdownText mr-5">
									<div class="single-fee-line d-flex justify-content-between">
										<div class="title">
											Bank Fee:
										</div>
										<div class="value">
											0.05%
										</div>
									</div>
									<div class="single-fee-line d-flex justify-content-between">
										<div class="title">
											Transaction Fee:
										</div>
										<div class="value">
											0.1%
										</div>
									</div>
									<div class="single-fee-line d-flex justify-content-between">
										<div class="title">
											Platform Fee
										</div>
										<div class="value">
											0.018%
										</div>
									</div>
									<div class="single-fee-line d-flex justify-content-between">
										<div class="title">
											Media Fee
										</div>
										<div class="value">
											0.1%
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="pt-4 pb-3">
        <div class="container-fluid px-2 px-md-5 pb-3">
          <div class="footer-wrap px-4">
            <div class="row align-items-start">
              <div class="col-sm-6 col-lg-4 py-2">
                <a href="../index.html"><img class="white-logo d-block" src="../images/white-logo.png" alt=""></a>
                <p class="m-0 py-4 text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
              <div class="col-sm-6 col-lg-4 py-2">
				<h5 class="py-2 py-lg-4 text-white text-lg-center">Important Menu</h5>
				<div class="footer-menu-wrap d-flex justify-content-between flex-wrap align-items-start ">
					<div class="text-lg-center py-2">
						<ul>
						  <li><a href="../index.html#hero-area">Home</a></li>
						  <li><a href="../index.html#about-area">About us</a></li>
						  <li><a href="../index.html#process-area">How it works</a></li>
						</ul>
					  </div>
					  <div class="col-6 text-lg-center py-2">
						<ul>
						  <li><a href="fee-calculator.html">Fee Calculator</a></li>
						  <li><a href="toc.html">Terms of Service</a></li>
						  <li><a href="privacy.html">Privacy Policy</a></li>
						</ul>
					  </div>
				</div>
			  </div>
              <div class="col-6 col-lg-4 d-none d-lg-block py-2">
                <div class="payment-partner-icons p-3">
                  <h5 class="py-2">Payment Partners</h5>
                  <img class="w-100 mx-auto d-block px-3" src="../images/payment.png" alt="">
                  <img class="w-100 mx-auto d-block px-3" src="../images/payment.png" alt="">
                  <img class="w-100 mx-auto d-block px-3" src="../images/payment.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-12 pt-2 text-center footer-copyright d-flex justify-content-md-end justify-content-center">
          <p class="m-0 text-white pt-2">© iGurd 2020. All Right Reserved.</p>
        </div>
      </footer>
      
      <!-- JS Global Compulsory -->
	<script src="js/jquery.min.js" type="text/javascript">
	</script> 
	<script src="js/jquery-migrate.min.js" type="text/javascript">
	</script> 
	<script src="js/bootstrap.bundle.min.js" type="text/javascript">
	</script> 
	<script src="js/scripts.js" type="text/javascript">
	</script> 
	<script>
	   const seeResultBtn = document.getElementById('fee-btn')
	   seeResultBtn.addEventListener('click', function(){
	   const resultArea = document.getElementById('resultArea')
	   resultArea.style.display = 'block'
	   })
	</script>
</body>
</html>