<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - iGurd</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>

  <header id="header-area" class="header-area bg-white sticky-top">
    <div class="container-fluid header-section px-2 px-md-5 d-block">
      <div class="row d-flex align-items-center nav-height">
        <div class="col-6 col-md-5 col-lg-2 p-lg-0">
          <div class="logo">
            <a href="index.html"><img class="mx-4 mx-md-3" src="../images/innerLogo.png" alt=""></a>
          </div>
        </div>
        <div class="p-0 d-none d-lg-block col-lg-6">
          <nav class="nav-area">
            <a href="#" class="nav-item pl-0">About us</a>
            <a href="#" class="nav-item">How it works</a>
            <a href="fee-calculator.html" class="nav-item">Fee Calculator</a>
            <a href="#" class="nav-item border-right-0">Contact</a>
          </nav>
        </div>
        <div class="col-6 col-md-6 col-lg-4 d-none d-md-block text-right">
          <div class="user-buttons text-right">
            <a class="signup-btn px-2 px-md-3 py-2" href="signup.html">Sign up</a>
            <a class="login-btn px-3 px-md-4 py-2" href="login.html">Login</a>
          </div>
        </div>

        <div class="col-6 col-md-1 d-lg-none text-right">
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#" class="nav-item">About</a>
            <a href="#" class="nav-item">Services</a>
            <a href="#" class="nav-item">Clients</a>
            <a href="#" class="nav-item">Contact</a>
            <a href="signup.html" class="nav-item d-md-none">Sign up</a>
            <a class="nav-item d-md-none" href="login.html">Login</a>
          </div>
          
          <span class="d-flex justify-content-end align-items-center" style="font-size:30px;cursor:pointer" onclick="openNav()"><img class="hamburder-bars mx-4 mx-md-3" src="../images/nav-icons/hamburger-bars.png" alt=""></span>
        </div>
      </div>
      
    </div>
  </header>



    <div class="signup-area" id="signup-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 py-5">
                    <div class="form-wrap bg-white px-5 my-5">
                        <div class="form-header text-center">
                            <div class="form-title">
                                <h1 class="py-3 px-5">Signup</h1>
                            </div>
                            <small class="pb-3 d-block">Already registered? <a href="login.html">Login</a></small>
                        </div>
                        <div class="form-body">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email-phone" aria-describedby="email-phone" placeholder="EMAIL/PHONE NUMBER">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" placeholder="PASSWORD">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="FULL NAME">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="MM/DD/YYYY" onfocus="(this.type='date')">
                                </div>
                                <div class="form-group">
                                    <label for="address">Personal Address</label>
                                    <input class="form-control" id="address" type="text" placeholder="STREET & APT NO.">
                                </div>
                                <div class="form-group address-wrap d-flex justify-content-between">
                                    <input class="form-control" type="text" placeholder="ADDRESS 2">
                                    <input class="form-control" type="text" placeholder="ZIP CODE">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="CITY">
                                </div>
                                <div class="form-check">
                                    <label class="control control-checkbox" for="TermsCheckbox">I agreed to the terms of service<input type="checkbox" id="TermsCheckbox"/><div class="control_indicator"></div></label>
                                </div>
                                <div class="form-btns text-center py-3">
                                    <a href="signup2.html" type="submit" class="btn signup-next d-block" id="signup-next">Next</a>
                                    <button class="btn signup-cancel d-block">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







  <!-- JS Global Compulsory -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>


</body>
</html>