<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iGurd</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <style>
      .terms-area h2 {
          font-size: 40px;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 3px;
      }
      .terms-area h3 {
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 400;
      }
      span.companyName {
          font-weight: 600;
      }
      ul {
          margin-left: 35px;
      }
      header#header-area {
          border-bottom: 1px solid #ddd;
          box-shadow: 0px 2px 5px #ddd;
      }
    </style>
</head>
<body>


  <header id="header-area" class="header-area bg-white sticky-top">
    <div class="container-fluid header-section px-2 px-md-5 d-block">
      <div class="row d-flex align-items-center nav-height">
        <div class="col-6 col-md-5 col-lg-2 p-lg-0">
          <div class="logo">
            <a href="index.html"><img class="mx-4 mx-md-3" src="images/innerLogo.png" alt=""></a>
          </div>
        </div>
        <div class="p-0 d-none d-lg-block col-lg-6">
          <nav class="nav-area">
            <a href="#hero-area" class="nav-item pl-0">Home</a>
            <a href="#about-area" class="nav-item">About us</a>
            <a href="#process-area" class="nav-item">How it works</a>
            <a href="innerPages/fee-calculator.html" class="nav-item br-none">Fee Calculator</a>
          </nav>
        </div>
        <div class="col-6 col-md-6 col-lg-4 d-none d-md-block text-right">
          <div class="user-buttons text-right">
            <a class="signup-btn px-2 px-md-3 py-2" href="innerPages/signup.html">Sign up</a>
            <a class="login-btn px-3 px-md-4 py-2" href="innerPages/login.html">Login</a>
          </div>
        </div>

        <div class="col-6 col-md-1 d-lg-none text-right">
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#hero-area" class="nav-item">Home</a>
            <a href="#about-area" class="nav-item">About us</a>
            <a href="#process-area" class="nav-item">How it works</a>
            <a href="innerPages/fee-calculator.html" class="nav-item">Fee Calculator</a>
            <a href="innerPages/signup.html" class="nav-item d-md-none">Sign up</a>
            <a class="nav-item d-md-none" href="innerPages/login.html">Login</a>
          </div>
          
          <span class="d-flex justify-content-end align-items-center" style="font-size:30px;cursor:pointer" onclick="openNav()"><img class="hamburder-bars mx-4 mx-md-3" src="images/nav-icons/hamburger-bars.png" alt=""></span>
        </div>
      </div>
      
    </div>
  </header>
  
  <div class="terms-area p-2 px-md-5">
    <div class="container p-3 px-md-5">
      <h2 class="py-3">Terms and Conditions</h2>
      <p>Welcome to <span class="companyName">iGurd.com</span>!</p>
      <p>These terms and conditions outline the rules and regulations for the use of iGurd's Website, located at https://www.igurd.com.</p>
      <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use <span class="companyName">iGurd.com</span> if you do not agree to take all of the terms and conditions stated on this page.&nbsp;</p>
      <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company&rsquo;s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance, and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client&rsquo;s needs in respect of the provision of the Company&rsquo;s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to the same.</p>
      <br>
      <h3>Cookies</h3>
      <p>We employ the use of cookies. By accessing <span class="companyName">iGurd.com</span>, you agreed to use cookies in agreement with the iGurd's Privacy Policy.</p>
      <p>Most interactive websites use cookies to let us retrieve the user&rsquo;s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
      <br>
      <h3>License</h3>
      <p>Unless otherwise stated, iGurd and/or its licensors own the intellectual property rights for all material on <span class="companyName">iGurd.com</span>. All intellectual property rights are reserved. You may access this from <span class="companyName">iGurd.com</span> for your own personal use subjected to restrictions set in these terms and conditions.</p>
      <p>You must not:</p>
      <ul>
        <li>Republish material from <span class="companyName">iGurd.com</span></li>
        <li>Sell, rent or sub-license material from <span class="companyName">iGurd.com</span></li>
        <li>Reproduce, duplicate or copy material from <span class="companyName">iGurd.com</span></li>
        <li>Redistribute content from <span class="companyName">iGurd.com</span></li>
      </ul>
      <p>This Agreement shall begin on the date hereof.</p>
      <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. iGurd does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of iGurd,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, iGurd shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>
      <p>iGurd reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
      <p>You warrant and represent that:</p>
      <ul>
        <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
        <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
        <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
        <li>Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
      </ul>
      <p>You hereby grant iGurd a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce, and edit any of your Comments in any and all forms, formats, or media.</p>
      <br>
      <h3>Hyperlinking to our Content</h3>
      <p>The following organizations may link to our Website without prior written approval:</p>
      <ul>
        <li>Government agencies;</li>
        <li>Search engines;</li>
        <li>News organizations;</li>
        <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
        <li>Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
      </ul>
      <p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party&rsquo;s site.</p>
      <p>We may consider and approve other link requests from the following types of organizations:</p>
      <ul>
        <li>commonly-known consumer and/or business information sources;</li>
        <li>dot.com community sites;</li>
        <li>associations or other groups representing charities;</li>
        <li>online directory distributors;</li>
        <li>internet portals;</li>
        <li>accounting, law and consulting firms; and</li>
        <li>educational institutions and trade associations.</li>
      </ul>
      <p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of iGurd, and (d) the link is in the context of general resource information.</p>
      <p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement, or approval of the linking party and its products or services; and (c) fits within the context of the linking party&rsquo;s site.</p>
      <p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to iGurd. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>
      <p>Approved organizations may hyperlink to our Website as follows:</p>
      <ul>
        <li>By use of our corporate name; or</li>
        <li>By use of the uniform resource locator being linked to; or</li>
        <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party&rsquo;s site.</li>
      </ul>
      <p>No use of iGurd's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
      <br>
      <h3>iFrames</h3>
      <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>
      <br>
      <h3>Content Liability</h3>
      <p>We shall not be held responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>
      <br>
      <h3>Your Privacy</h3>
      <p>Please read Privacy Policy</p>
      <br>
      <h3>Reservation of Rights</h3>
      <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amend these terms and conditions and it&rsquo;s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>
      <br>
      <h3>Removal of links from our website</h3>
      <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>
      <p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>
      <br>
      <h3>Disclaimer</h3>
      <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties, and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
      <ul>
        <li>limit or exclude our or your liability for death or personal injury;</li>
        <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
        <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
        <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
      </ul>
      <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort, and for breach of statutory duty.</p>
      <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
    </div>
  </div>
  
  
  <footer class="pt-5 pb-3">
    <div class="container-fluid px-2 px-md-5 pb-5">
      <div class="footer-wrap px-4">
        <div class="row align-items-center">
          <div class="col-sm-6 col-lg-4">
            <a href="index.html"><img class="white-logo d-block" src="../images/white-logo.png" alt=""></a>
            <p class="m-0 py-4 text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
          </div>
          <div class="col-6 col-sm-3 col-md-3 col-lg-2 text-lg-center py-2">
            <ul>
              <li><a href="#hero-area">Home</a></li>
              <li><a href="#about-area">About us</a></li>
              <li><a href="#process-area">How it works</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-3 col-md-3 col-lg-2 text-lg-center py-2">
            <ul>
              <li><a href="innerPages/fee-calculator.html">Fee Calculator</a></li>
              <li><a href="innerPages/toc.html">Terms of Condition</a></li>
              <li><a href="innerPages/privacy.html">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-4 py-3 d-none d-lg-block">
            <div class="payment-partner-icons p-5 pt-3">
              <h5 class="py-2">Payment Partners</h5>
              <img class="w-100 mx-auto d-block px-3" src="../images/payment.png" alt="">
              <img class="w-100 mx-auto d-block px-3" src="../images/payment.png" alt="">
              <img class="w-100 mx-auto d-block px-3" src="../images/payment.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-12 pt-2 text-center footer-copyright d-flex justify-content-md-end justify-content-center">
      <p class="m-0 text-white pt-2">© iGurd 2020. All Right Reserved.</p>
    </div>
  </footer>
  </div>



  <!-- JS Global Compulsory -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>

</body>
</html>